-- =====================================================================
-- MIGRACIÓN UNIFICADA "AUTO-HEALING": Rol Manager y Reparación de Esquema
-- Fecha: 2 de enero de 2026
-- Descripción: Detecta estado de esquema (Legacy, Nuevo o Roto) y repara
--              automáticamente la tabla role_permissions antes de insertar.
-- =====================================================================

BEGIN;

-- =====================================================================
-- 1. FUNCIONES AUXILIARES
-- =====================================================================
-- 1.1 Función is_admin_or_manager
-- DROP FUNCTION IF EXISTS public.is_admin_or_manager();

CREATE OR REPLACE FUNCTION public.is_admin_or_manager()
RETURNS BOOLEAN AS $$
DECLARE
  user_role TEXT;
BEGIN
  SELECT role INTO user_role
  FROM public.profiles
  WHERE auth_user_id = auth.uid();
  
  RETURN (user_role = 'admin' OR user_role = 'manager');
END;
$$ LANGUAGE plpgsql SECURITY DEFINER STABLE;

GRANT EXECUTE ON FUNCTION public.is_admin_or_manager() TO authenticated;

-- 1.2 Función can_manage_role
DROP FUNCTION IF EXISTS public.can_manage_role(text, text);

CREATE OR REPLACE FUNCTION public.can_manage_role(
  p_manager_role TEXT,
  p_target_role TEXT
)
RETURNS BOOLEAN AS $$
DECLARE
  manager_rank INTEGER;
  target_rank INTEGER;
BEGIN
  CASE LOWER(TRIM(p_manager_role))
    WHEN 'admin' THEN manager_rank := 4;
    WHEN 'manager' THEN manager_rank := 3;
    WHEN 'responsable' THEN manager_rank := 2;
    WHEN 'operario' THEN manager_rank := 1;
    ELSE manager_rank := 0;
  END CASE;

  CASE LOWER(TRIM(p_target_role))
    WHEN 'admin' THEN target_rank := 4;
    WHEN 'manager' THEN target_rank := 3;
    WHEN 'responsable' THEN target_rank := 2;
    WHEN 'operario' THEN target_rank := 1;
    ELSE target_rank := 0;
  END CASE;

  RETURN manager_rank > target_rank;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER STABLE;

GRANT EXECUTE ON FUNCTION public.can_manage_role TO authenticated;

-- Función get_current_user_role
CREATE OR REPLACE FUNCTION public.get_current_user_role()
RETURNS TEXT AS $$
DECLARE
  user_role TEXT;
BEGIN
  SELECT role INTO user_role
  FROM public.profiles
  WHERE auth_user_id = auth.uid();
  RETURN COALESCE(user_role, 'operario');
END;
$$ LANGUAGE plpgsql SECURITY DEFINER STABLE;

GRANT EXECUTE ON FUNCTION public.get_current_user_role TO authenticated;

-- =====================================================================
-- 2. REPARACIÓN Y NORMALIZACIÓN DE ESQUEMA (AUTO-HEALING)
-- =====================================================================

DO $$
DECLARE
  v_has_granted BOOLEAN;
  v_has_can_view BOOLEAN;
  v_has_page BOOLEAN;
  v_schema_state TEXT;
BEGIN
  -- 1. Diagnóstico Inicial
  SELECT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema='public' AND table_name='role_permissions' AND column_name='granted') INTO v_has_granted;
  SELECT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema='public' AND table_name='role_permissions' AND column_name='can_view') INTO v_has_can_view;
  SELECT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema='public' AND table_name='role_permissions' AND column_name='page') INTO v_has_page;

  RAISE NOTICE 'DIAGNÓSTICO: granted=%, can_view=%, page=%', v_has_granted, v_has_can_view, v_has_page;

  -- 2. Normalización de nombre de recurso
  IF v_has_page THEN
    ALTER TABLE public.role_permissions RENAME COLUMN page TO resource;
    RAISE NOTICE 'Corrección: columna page renombrada a resource';
  END IF;

  -- 3. Determinación de Estado
  IF v_has_granted THEN
    v_schema_state := 'NEW';
  ELSIF v_has_can_view THEN
    v_schema_state := 'LEGACY';
  ELSE
    v_schema_state := 'BROKEN'; -- Ni granted ni can_view
  END IF;
  
  RAISE NOTICE 'ESTADO DE ESQUEMA: %', v_schema_state;

  -- 4. Reparación (Si está BROKEN, migrar a NEW)
  IF v_schema_state = 'BROKEN' THEN
    RAISE NOTICE 'Reparando esquema BROKEN -> NEW...';
    
    -- Agregar columnas faltantes
    ALTER TABLE public.role_permissions ADD COLUMN IF NOT EXISTS action TEXT DEFAULT 'view';
    ALTER TABLE public.role_permissions ADD COLUMN IF NOT EXISTS granted BOOLEAN DEFAULT TRUE;
    
    -- Ajustar constraints si es posible (no crítico para que funcione la data)
    -- Eliminamos constraints viejos que puedan estorbar
    -- ALTER TABLE public.role_permissions DROP CONSTRAINT ... 
    
    v_schema_state := 'NEW'; -- Ahora lo tratamos como NEW
  END IF;
  
  -- 5. Inserción de Datos (Según estado final)
  IF v_schema_state = 'NEW' THEN
    -- Esquema Nuevo (granted/action/resource)
    DECLARE
      v_resources TEXT[] := ARRAY[
        'dashboard', 'users', 'vehicles', 'installations', 'screens', 
        'templates', 'communications', 'archive', 'admin', 'comercial', 
        'production', 'warehouse', 'envios', 'kiosk', 'calendario-global', 
        'gestion', 'data', 'settings', 'sla-config', 'system-log'
      ];
      v_res TEXT;
    BEGIN
      FOREACH v_res IN ARRAY v_resources LOOP
         -- View
         EXECUTE 'INSERT INTO public.role_permissions (role, resource, action, granted) VALUES ($1, $2, $3, $4) ON CONFLICT DO NOTHING' USING 'manager', v_res, 'view', true;
         
         -- Edit/Create
         IF v_res != 'system-log' THEN
           EXECUTE 'INSERT INTO public.role_permissions (role, resource, action, granted) VALUES ($1, $2, $3, $4) ON CONFLICT DO NOTHING' USING 'manager', v_res, 'edit', true;
           EXECUTE 'INSERT INTO public.role_permissions (role, resource, action, granted) VALUES ($1, $2, $3, $4) ON CONFLICT DO NOTHING' USING 'manager', v_res, 'create', true;
         END IF;
         
         -- Delete
         IF v_res NOT IN ('users', 'archive', 'system-log') THEN
           EXECUTE 'INSERT INTO public.role_permissions (role, resource, action, granted) VALUES ($1, $2, $3, $4) ON CONFLICT DO NOTHING' USING 'manager', v_res, 'delete', true;
         END IF;
      END LOOP;
    END;
    
  ELSE
    -- Esquema Legacy (can_view/can_edit...)
    RAISE NOTICE 'Aplicando permisos en esquema LEGACY...';
    EXECUTE '
      INSERT INTO public.role_permissions (role, resource, can_view, can_edit, can_delete)
      VALUES
        (''manager'', ''dashboard'', true, true, true),
        (''manager'', ''users'', true, true, false),
        (''manager'', ''vehicles'', true, true, true),
        (''manager'', ''installations'', true, true, true),
        (''manager'', ''screens'', true, true, true),
        (''manager'', ''templates'', true, true, true),
        (''manager'', ''communications'', true, true, true),
        (''manager'', ''archive'', true, false, false),
        (''manager'', ''admin'', true, true, true),
        (''manager'', ''comercial'', true, true, true),
        (''manager'', ''production'', true, true, true),
        (''manager'', ''warehouse'', true, true, true),
        (''manager'', ''envios'', true, true, true),
        (''manager'', ''kiosk'', true, true, true),
        (''manager'', ''calendario-global'', true, true, true),
        (''manager'', ''gestion'', true, true, true),
        (''manager'', ''data'', true, true, true),
        (''manager'', ''settings'', true, true, true),
        (''manager'', ''sla-config'', true, true, true),
        (''manager'', ''system-log'', true, false, false)
      ON CONFLICT (role, resource) DO UPDATE SET
        can_view = EXCLUDED.can_view,
        can_edit = EXCLUDED.can_edit,
        can_delete = EXCLUDED.can_delete';
  END IF;

END $$;

-- =====================================================================
-- 3. FUNCIÓN HAS_PERMISSION (Soporte Híbrido Actualizado)
-- =====================================================================

DROP FUNCTION IF EXISTS public.has_permission(text, text, text);
DROP FUNCTION IF EXISTS public.has_permission(text, text);

CREATE OR REPLACE FUNCTION public.has_permission(
  user_role TEXT,
  resource TEXT,
  action TEXT
)
RETURNS BOOLEAN AS $$
DECLARE
  v_role TEXT := LOWER(TRIM(user_role));
  v_resource TEXT := LOWER(TRIM(resource));
  v_action TEXT := LOWER(TRIM(action));
  v_has_granted BOOLEAN;
  v_granted BOOLEAN := FALSE;
  v_can_view BOOLEAN;
  v_can_edit BOOLEAN;
  v_can_delete BOOLEAN;
BEGIN
  -- 1. Reglas Hardcoded (Seguridad)
  IF v_role = 'admin' THEN RETURN TRUE; END IF;
  
  IF v_role = 'manager' THEN
    IF v_resource = 'users' AND v_action = 'delete' THEN RETURN FALSE; END IF;
    IF v_resource = 'archive' AND (v_action = 'create' OR v_action = 'delete') THEN RETURN FALSE; END IF;
    IF v_resource = 'system-log' AND v_action != 'view' THEN RETURN FALSE; END IF;
    RETURN TRUE; -- Default allow for manager checked against schema later if needed, but here hardcoded is faster
  END IF;

  -- 2. Detección
  SELECT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_schema='public' AND table_name='role_permissions' AND column_name='granted') INTO v_has_granted;

  -- 3. Consulta
  IF v_has_granted THEN
    SELECT rp.granted INTO v_granted
    FROM public.role_permissions rp
    WHERE LOWER(rp.role) = v_role
      AND LOWER(rp.resource) = v_resource
      AND LOWER(rp.action) = v_action;
    RETURN COALESCE(v_granted, FALSE);
  ELSE
    SELECT can_view, can_edit, can_delete INTO v_can_view, v_can_edit, v_can_delete
    FROM public.role_permissions rp
    WHERE LOWER(rp.role) = v_role
      AND LOWER(rp.resource) = v_resource;
      
    IF v_action IN ('view', 'read') THEN RETURN COALESCE(v_can_view, FALSE); END IF;
    IF v_action IN ('create', 'edit', 'update') THEN RETURN COALESCE(v_can_edit, FALSE); END IF;
    IF v_action IN ('delete', 'remove') THEN RETURN COALESCE(v_can_delete, FALSE); END IF;
    RETURN FALSE;
  END IF;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER STABLE;

GRANT EXECUTE ON FUNCTION public.has_permission TO authenticated;
GRANT EXECUTE ON FUNCTION public.has_permission TO anon;

COMMIT;

-- Log Final
DO $$
BEGIN
  RAISE NOTICE '==================================================';
  RAISE NOTICE 'MIGRACIÓN AUTO-HEALING COMPLETADA';
  RAISE NOTICE 'El esquema de role_permissions ha sido verificado/reparado.';
  RAISE NOTICE '==================================================';
END $$;
